.main{
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color:  #b9dfe9;
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* align-items: center; */
}
.h1{
    color: red;
}

.login_box{
    display: flex;
    flex-direction: column;    
    align-items: center;

}

.reg_box{
    display: flex;
    flex-direction: column;    
    align-items: center;
    border-radius: 10px;

}

/* form{
    border-radius: 50%;
} */
.accordion-item{
    border-radius: 15%;
}
.accordion-body{
    border-radius: 14%;
}
#collapseTwo{
    border-radius: 14%;
}

.form-control{
    border-radius: 10px;
    border-width: 0;
    margin-bottom: 2%;
}

.element{
    margin-bottom: 3%;
}
.accordion{

    padding: 20px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    /* flex-direction: row; */
}

