.header img {
  max-height: 100px;
}

.header h1 {
  color: rgb(247, 82, 33);
  text-shadow: 3px 3px 0px rgba(255, 2, 2, 0.2), 2px 2px 0px rgba(255, 2, 2, 0.2);
}
.header {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #e9e0b9;
}

.main{

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.main img{
  max-height: 1000px;
}

.navbar{
  background-color: #e9e0b9;
}

.box{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}